[submodule "appengine-sign-in/src/github.com/kurrik/twittergo"]
	path = appengine-sign-in/src/github.com/kurrik/twittergo
	url = git://github.com/kurrik/twittergo
[submodule "appengine-sign-in/src/github.com/kurrik/oauth1a"]
	path = appengine-sign-in/src/github.com/kurrik/oauth1a
	url = git://github.com/kurrik/oauth1a
